* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #212529;
}

.navbar-brand {
  padding-bottom: 8px;
}

form .d-flex .input-group {
  padding-top: 8px;
  padding-bottom: 8px;
}

.navbar-brand, h1 {
  font-family: "Goudy Bookletter 1911", serif;
  font-weight: 400;
  font-style: normal;
}

.btn {
    height: 50px; 
}

.card-img-top {
    height: 50%;
    object-fit: cover;
}